.formatiodiv {
  background-color: rebeccapurple;
  display: block;
  text-align: center;
  font-size: 50px;
  padding: 15px;
  border-radius: 50px 20px 50px 10px;
  color: white;
  margin: 10px;
  font-weight: 500;
  box-shadow: 0 23px 10px rgb(0 0 0 / 0.2);
  float: left;
}
