.dashdiv{
    background-color: white;
    float: right;
    /* width: 80%; */
    height: 550px;
    margin: 15px;
    border-radius: 50px 20px 50px 10px;
}

@media screen and (max-width:600px) {
    .dashdiv{
        width: max-content;
    }
}